
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Bitter:ital,wght@0,100..900;1,100..900&family=Caveat:wght@400..700&family=Great+Vibes&family=Kalam:wght@300;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

$primary-1: #ff4500;
$primary-2: #631c02;
$white: #efefef;
$white-pure: #fff;
$black: #111;
$black-pure: #000;
$light-1: beige;
$light-2: khaki;
$grey-1: #222; 
$grey-2: #333;
$grey-3: #565656;
$grey-4: #787878;
$grey-5: #9a9a9a;
$grey-6: #ababab;
$grey-7: #ccc;
$grey-8: #ddd;
$grey-9: #eee;
$red-1: darkred;
$red-2: red;
$orange-1: darkorange;
$orange-2: orange;
$yellow-1: darkgoldenrod;
$yellow-2: goldenrod;
$yellow-3: gold;
$yellow-4: yellow;
$yellow-5: #fcfc9f;
$green-1: darkgreen;
$green-2: green;
$green-3: lightgreen;
$blue-1: darkblue;
$blue-2: blue;
$blue-3: lightblue;
$sky-blue: skyblue;
$cyan-1: cyan;
$cyan-2: darkcyan;
$teal: teal;
$sienna: sienna;

$border-r-1: 3px;
$border-r-2: 5px;
$border-r-3: 8px;

$box-shad-1: rgba(0, 0, 0, 0.9);
$box-shad-2: rgba(0, 0, 0, 0.6);
$box-shad-3: rgba(0, 0, 0, 0.3);

$font-sans: 'Mulish', sans-serif;
$font-sans-2: 'Montserrat', sans-serif;
$font-sans-condensed: 'Roboto Condensed', sans-serif;
$font-sans-heading: 'Bebas Neue', sans-serif; 
$font-serif: 'Bitter', serif;
$font-mono: 'Ubuntu Sans Mono', monospace;
$font-cursive: 'Caveat', cursive;

body {
    background-color: $black;
}

h1 {
    font-family: $font-sans-heading;
    color: $light-1;
}

h4 {
    font-family: $font-sans;
    color: $primary-1;
}

.para-1 {
    font-family: $font-sans;
    color: $yellow-4;
    background-color: $grey-1;
}
.para-2 {
    font-family: $font-sans-2;
    color: $yellow-3;
    background-color: $grey-2;
}
.para-3 {
    font-family: $font-sans-condensed;
    color: $yellow-2;
    background-color: $grey-3;
}
.para-4 {
    font-family: $font-sans-heading;
    color: $yellow-1;
    background-color: $grey-4;
}
.para-5 {
    font-family: $font-sans;
    color: $orange-1;
    background-color: $grey-5;
}
.para-6 {
    font-family: $font-serif;
    color: $orange-2;
    background-color: $grey-6;
}
.para-7 {
    font-family: $font-mono;
    color: $red-1;
    background-color: $grey-7;
}
.para-8 {
    font-family: $font-cursive;
    color: $red-2;
    background-color: $grey-8;
}