$primary-1: #ff4500;
$primary-2: #631c02;
$white: #efefef;
$black: #111;
$light-1: beige;
$light-2: khaki;
$grey-xtra-dark: #222; 
$grey-dark: #333;
$grey-med-dark: #565656;
$grey-med: #9a9a9a;
$grey-med-light: #ababab;
$grey-light: #ccc;
$grey-xtra-light: #dedede;
$red-1: darkred;
$red-2: red;
$orange-1: darkorange;
$orange-2: orange;
$yellow-1: darkgoldenrod;
$yellow-2: goldenrod;
$yellow-3: gold;
$yellow-4: yellow;
$yellow-5: #fcfc9f;
$sky-blue: skyblue;

body {
    background-color: $black;
    color: $primary-1;
}